DATABASE_URL=file:./db.sqlite
PORT=8081
# Key you manually set in the extension
API_KEY=
# Bandcamp profile username (appears in profile link)
# Example: if your profile is https://bandcamp.com/username, use:
BANDCAMP_PROFILE=username
